<footer style="background-color: #eee; padding: 1em;">
    <p class="copyRights">&copy; 2025 AdoptaPaws. All rights reserved. 
        <a href="/privacy" >View Privacy/Disclaimer Statement</a>
    </p>
    <p class="author">Alexandre Genest (40305939)</p>
</footer>
