<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdoptaPaws - Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/header') %>

    
    <div class="page-content">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/create-account">Create Account</a></li>
                <li><a href="/browse">Browse Available Pets</a></li>
                <li><a href="/find">Find a Dog/Cat</a></li>
                <li><a href="/dog-care">Dog Care</a></li>
                <li><a href="/cat-care">Cat Care</a></li>
                <li><a href="/give-away">Have a Pet to Give Away</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
            
        </nav>
        
        <div class="main-container">
            <h1 class="page-title">Browse Available Pets</h1>
            
            <div class="pet-listings">
                <div class="pet-card">
                    <img src="Max.jpg" alt="Max img" class="pet-image">
                    <div class="pet-info">
                        <h2 class="pet-name">Max</h2>
                        <div class="pet-details">
                            <p><span class="pet-detail-label">Type:</span> Dog</p>
                            <p><span class="pet-detail-label">Breed:</span> Golden Retriever</p>
                            <p><span class="pet-detail-label">Gender:</span> Male</p>
                            <p><span class="pet-detail-label">Age:</span> 3 years</p>
                            <p><span class="pet-detail-label">Gets along with:</span> dogs, cats</p>
                            <p><span class="pet-detail-label">Current Owner:</span> Alex Genest, agenest@gmail.com</p>
                        </div>
                        <p>Max is curious and energetic, always on the lookout for for a ball to play with.</p>
                        <button class="interested-btn">Interested</button>
                    </div>
                </div>
                
                <div class="pet-card">
                    <img src="Luna.jpg" alt="Luna img" class="pet-image">
                    <div class="pet-info">
                        <h2 class="pet-name">Luna</h2>
                        <div class="pet-details">
                            <p><span class="pet-detail-label">Type:</span> Dog</p>
                            <p><span class="pet-detail-label">Breed:</span> Black Labrador</p>
                            <p><span class="pet-detail-label">Gender:</span> Female</p>
                            <p><span class="pet-detail-label">Age:</span> 2 years</p>
                            <p><span class="pet-detail-label">Gets along with:</span> dogs, cats, children</p>
                            <p><span class="pet-detail-label">Current Owner:</span> Kate Denis, kdenis@gmail.com</p>
                        </div>
                        <p>Luna is used to the outdoors and looking for a home</p>
                        <button class="interested-btn">Interested</button>
                    </div>
                </div>
                
                <div class="pet-card">
                    <img src="Charlie.jpg" alt="Charlie img" class="pet-image">
                    <div class="pet-info">
                        <h2 class="pet-name">Charlie</h2>
                        <div class="pet-details">
                            <p><span class="pet-detail-label">Type:</span> Dog</p>
                            <p><span class="pet-detail-label">Breed:</span> Beagle Mix</p>
                            <p><span class="pet-detail-label">Gender:</span> Male</p>
                            <p><span class="pet-detail-label">Age:</span> 5 years</p>
                            <p><span class="pet-detail-label">Gets along with:</span> children</p>
                            <p><span class="pet-detail-label">Current Owner:</span> Rachel Queens, rqueens@gmail.com</p>
                        </div>
                        <p>Charlie is very gentle and LOVES walks</p>
                        <button class="interested-btn">Interested</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
    <script src="/script.js"></script>
</body>
</html>
