<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdoptaPaws - Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/header') %>

    
    <div class="page-content">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/create-account">Create Account</a></li>
                <li><a href="/browse">Browse Available Pets</a></li>
                <li><a href="/find">Find a Dog/Cat</a></li>
                <li><a href="/dog-care">Dog Care</a></li>
                <li><a href="/cat-care">Cat Care</a></li>
                <li><a href="/give-away">Have a Pet to Give Away</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
            
        </nav>
        
        <div class="main-container">
            <h1 class="page-title">Contact Information</h1>
            <p class="intro-text">Have any questions or concerns? Reach out, I'm here to help!</p>
            
            <div class="contact-info">
                <div class="contact-section">
                    <h2>Alexandre Genest</h2>
                    <div class="contact-card">
                        <p><strong>Student ID:</strong> 40305939</p>
                        <p><strong>Email:</strong> <a href="mailto:agenest01@gmail.com">agenest01@gmail.com</a></p>
                    </div>
                </div>
                
                <div class="contact-section">
                    <h3>Connect With Me :)</h3>
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/alexandre-genest-28341332a/" target="_blank">LinkedIn</a>
                        <a href="https://github.com/OrangeMold" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
    <script src="/script.js"></script>
</body>
</html>
