<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdoptaPaws - Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/header') %>

    
    <div class="page-content">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/browse">Browse Available Pets</a></li>
                <li><a href="/find">Find a Dog/Cat</a></li>
                <li><a href="/dog-care">Dog Care</a></li>
                <li><a href="/cat-care">Cat Care</a></li>
                <li><a href="/give-away">Have a Pet to Give Away</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/create-account">Create Account</a></li>
                <% if (typeof username !== 'undefined' && username) { %>
                    <li><a href="/logout">Logout (<%= username %>)</a></li>
                <% } else { %>
                    <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </nav>
        
        <div class="main-container">
            <h2>Create an Account</h2>
          
            <p>Usernames may contain only letters and numbers.</p>
            <p>Passwords must be at least 4 characters long, contain only letters and digits, and include at least one of each.</p>
          
            <form id="register-form">
              <label for="username">Username:</label><br>
              <input type="text" id="username" name="username" required><br>
          
              <label for="password">Password:</label><br>
              <input type="text" id="password" name="password" required><br>
          
              <input type="submit"></input>
            </form>
          
            <p id="response-message"></p>
        </div>
    </div>

    <%- include('../partials/footer') %>
    <script src="/script.js"></script>
    <script src="/login.js"></script>
</body>
</html>
