<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdoptaPaws - Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/header') %>

    
    <div class="page-content">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/create-account">Create Account</a></li>
                <li><a href="/browse">Browse Available Pets</a></li>
                <li><a href="/find">Find a Dog/Cat</a></li>
                <li><a href="/dog-care">Dog Care</a></li>
                <li><a href="/cat-care">Cat Care</a></li>
                <li><a href="/give-away">Have a Pet to Give Away</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
            
        </nav>
        
        <div class="main-container">
            <h1 class="page-title">Find Your New Best Friend</h1>
            
            <div class="home-content">
                <p>Welcome to AdoptaPaws, your one-stop destination to find loving homes for pets in need. </p>
                
                <p>Whether you're looking to adopt a pet, provide a home for a pet in need, or learn how to care for your little friends, we're here to help you every step of the way!</p>
                
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
    <script src="/script.js"></script>
</body>
</html>
